*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: hsl(243, 100%, 93%);
}

/* Icons */
.icon {
  width: 2.8rem;
  height: 2.8rem;
}

.icon-container {
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: hsl(229, 57%, 11%);
  border-radius: 1rem;
}

/* Access */
.access {
  padding: 4rem 3rem;
  background: hsl(228, 56%, 26%);
  border-radius: 1.5rem 9rem 1.5rem 1.5rem;
  max-width: 50rem;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}

.access__logo {
  margin-bottom: 2.5rem;
}

.access__body .icon-container:nth-of-type(2) {
  margin: 0 1.5rem;
}

@media screen and (min-width: 1024px) {
  .access {
    max-width: 100%;
  }
}

/* slider */
.slider {
  border: 0.1rem solid transparent;
  background: hsl(228, 56%, 16%);
  border-radius: 2rem;
  padding: 0.1rem;
}

.slider__reading {
  width: 75%;
  height: 1.5rem;
  border-radius: 2rem;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2rem;
}

.slider__point {
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 100%;
}

/* Storage */
.storage {
  align-items: center;
  background: hsl(228, 56%, 26%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 50rem;
  width: 100%;
  padding: 3rem;
  position: relative;
}

.storage__body {
  width: 100%;
}

.storage__used {
  font-weight: 700;
  color: #fff;
}

.storage__range {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.storage__available {
  --padding-botttom: 3rem;
  align-items: center;
  background: #fff;
  border-radius: 0.8rem;
  bottom: -2.5rem;
  color: hsla(229, 7%, 55%, 0.7);
  display: inline-flex;
  font-weight: 700;
  height: 5rem;
  justify-content: center;
  letter-spacing: 0.1rem;
  padding: 3rem 2rem var(--padding-botttom);
  position: absolute;
}

.storage__value {
  font-size: 3.5rem;
  margin-right: 1rem;
  color: hsl(229, 57%, 11%);
}

@media screen and (min-width: 1024px) {
  .storage {
    max-width: 100%;
    text-align: left;
  }

  .storage__info {
    align-self: self-start;
  }

  .storage__available {
    top: -3rem;
    right: 5rem;
    padding-bottom: calc(var(--padding-botttom) + 1.5rem);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 75%,
      100% 100%,
      89% 75%,
      33% 75%,
      0 75%
    );
  }
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

/* Data storage block */
.data-storage {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.data-storage__access {
  margin-bottom: 2rem;
}

.background-mobile {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100vh;
}

.background-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .data-storage {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    column-gap: 2.5rem;
  }

  .data-storage-container {
    background: hsl(229, 57%, 11%);
  }

  .background-mobile {
    display: none;
  }

  .background-desktop {
    display: block;
    position: absolute;
    width: 100%;
    height: 39rem;
    bottom: 0;
  }
}
