<section class="access">
  <img class="access__logo" src="images/logo.svg" alt="Logo" />
  <div class="access__body">
    <div class="icon-container">
      <svg class="icon">
        <use href="images/sprite.svg#icon-document"></use>
      </svg>
    </div>
    <div class="icon-container">
      <svg class="icon">
        <use href="images/sprite.svg#icon-folder"></use>
      </svg>
    </div>
    <div class="icon-container">
      <svg class="icon">
        <use href="images/sprite.svg#icon-upload"></use>
      </svg>
    </div>
  </div>
</section>
